<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.sport.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.sport.domain.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsprice" property="goodsprice" jdbcType="VARCHAR" />
    <result column="goodsdetail" property="goodsdetail" jdbcType="VARCHAR" />
    <result column="goodstext" property="goodstext" jdbcType="VARCHAR" />
    <result column="goodsimg" property="goodsimg" jdbcType="VARCHAR" />
    <result column="goodscount" property="goodscount" jdbcType="INTEGER" />
    <result column="materials" property="materials" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodsname, goodsprice, goodsdetail, goodstext, goodsimg, goodscount, materials
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.sport.domain.Goods" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods (goodsname, goodsprice, goodsdetail,
      goodstext, goodsimg, goodscount, 
      materials)
    values (#{goodsname,jdbcType=VARCHAR}, #{goodsprice,jdbcType=VARCHAR}, #{goodsdetail,jdbcType=VARCHAR},
      #{goodstext,jdbcType=VARCHAR}, #{goodsimg,jdbcType=VARCHAR}, #{goodscount,jdbcType=INTEGER}, 
      #{materials,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.sport.domain.Goods" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsname != null" >
        goodsname,
      </if>
      <if test="goodsprice != null" >
        goodsprice,
      </if>
      <if test="goodsdetail != null" >
        goodsdetail,
      </if>
      <if test="goodstext != null" >
        goodstext,
      </if>
      <if test="goodsimg != null" >
        goodsimg,
      </if>
      <if test="goodscount != null" >
        goodscount,
      </if>
      <if test="materials != null" >
        materials,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsprice != null" >
        #{goodsprice,jdbcType=VARCHAR},
      </if>
      <if test="goodsdetail != null" >
        #{goodsdetail,jdbcType=VARCHAR},
      </if>
      <if test="goodstext != null" >
        #{goodstext,jdbcType=VARCHAR},
      </if>
      <if test="goodsimg != null" >
        #{goodsimg,jdbcType=VARCHAR},
      </if>
      <if test="goodscount != null" >
        #{goodscount,jdbcType=INTEGER},
      </if>
      <if test="materials != null" >
        #{materials,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.sport.domain.Goods" >
    update goods
    <set >
      <if test="goodsname != null" >
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsprice != null" >
        goodsprice = #{goodsprice,jdbcType=VARCHAR},
      </if>
      <if test="goodsdetail != null" >
        goodsdetail = #{goodsdetail,jdbcType=VARCHAR},
      </if>
      <if test="goodstext != null" >
        goodstext = #{goodstext,jdbcType=VARCHAR},
      </if>
      <if test="goodsimg != null" >
        goodsimg = #{goodsimg,jdbcType=VARCHAR},
      </if>
      <if test="goodscount != null" >
        goodscount = #{goodscount,jdbcType=INTEGER},
      </if>
      <if test="materials != null" >
        materials = #{materials,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.sport.domain.Goods" >
    update goods
    set goodsname = #{goodsname,jdbcType=VARCHAR},
      goodsprice = #{goodsprice,jdbcType=VARCHAR},
      goodsdetail = #{goodsdetail,jdbcType=VARCHAR},
      goodstext = #{goodstext,jdbcType=VARCHAR},
      goodsimg = #{goodsimg,jdbcType=VARCHAR},
      goodscount = #{goodscount,jdbcType=INTEGER},
      materials = #{materials,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="GoodsResultMap" type="com.qfedu.sport.domain.Goods" extends="BaseResultMap">
    <collection property="goodsImages"
                ofType="com.qfedu.sport.domain.GoodsImages">
      <id column="img_id" property="id" jdbcType="INTEGER" />
      <result column="gid" property="gid" jdbcType="INTEGER" />
      <result column="imgname" property="imgname" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

  <select id="selectById" resultMap="GoodsResultMap">
    select goods.id,goodsname,goodsprice,goodsdetail,goodstext,goodsimg,goodscount,materials,gid,imgname from goods left outer join goodsimages on goods.id=gid where goods.id = #{id}
  </select>
</mapper>