<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.sport.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.sport.domain.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsprice" property="goodsprice" jdbcType="VARCHAR" />
    <result column="goodsdetail" property="goodsdetail" jdbcType="VARCHAR" />
    <result column="goodscount" property="goodscount" jdbcType="INTEGER" />
    <result column="materials" property="materials" jdbcType="INTEGER" />
    <result column="goodsimg" property="goodsimg" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qfedu.sport.domain.Goods" extends="BaseResultMap" >
    <result column="goodstext" property="goodstext" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodsname, goodsprice, goodsdetail, goodscount, materials, goodsimg
  </sql>
  <sql id="Blob_Column_List" >
    goodstext
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.sport.domain.Goods" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods (goodsname, goodsprice, goodsdetail, 
      goodscount, materials, goodsimg, 
      goodstext)
    values (#{goodsname,jdbcType=VARCHAR}, #{goodsprice,jdbcType=VARCHAR}, #{goodsdetail,jdbcType=VARCHAR}, 
      #{goodscount,jdbcType=INTEGER}, #{materials,jdbcType=INTEGER}, #{goodsimg,jdbcType=VARCHAR}, 
      #{goodstext,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.sport.domain.Goods" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsname != null" >
        goodsname,
      </if>
      <if test="goodsprice != null" >
        goodsprice,
      </if>
      <if test="goodsdetail != null" >
        goodsdetail,
      </if>
      <if test="goodscount != null" >
        goodscount,
      </if>
      <if test="materials != null" >
        materials,
      </if>
      <if test="goodsimg != null" >
        goodsimg,
      </if>
      <if test="goodstext != null" >
        goodstext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsprice != null" >
        #{goodsprice,jdbcType=VARCHAR},
      </if>
      <if test="goodsdetail != null" >
        #{goodsdetail,jdbcType=VARCHAR},
      </if>
      <if test="goodscount != null" >
        #{goodscount,jdbcType=INTEGER},
      </if>
      <if test="materials != null" >
        #{materials,jdbcType=INTEGER},
      </if>
      <if test="goodsimg != null" >
        #{goodsimg,jdbcType=VARCHAR},
      </if>
      <if test="goodstext != null" >
        #{goodstext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.sport.domain.Goods" >
    update goods
    <set >
      <if test="goodsname != null" >
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsprice != null" >
        goodsprice = #{goodsprice,jdbcType=VARCHAR},
      </if>
      <if test="goodsdetail != null" >
        goodsdetail = #{goodsdetail,jdbcType=VARCHAR},
      </if>
      <if test="goodscount != null" >
        goodscount = #{goodscount,jdbcType=INTEGER},
      </if>
      <if test="materials != null" >
        materials = #{materials,jdbcType=INTEGER},
      </if>
      <if test="goodsimg != null" >
        goodsimg = #{goodsimg,jdbcType=VARCHAR},
      </if>
      <if test="goodstext != null" >
        goodstext = #{goodstext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qfedu.sport.domain.Goods" >
    update goods
    set goodsname = #{goodsname,jdbcType=VARCHAR},
      goodsprice = #{goodsprice,jdbcType=VARCHAR},
      goodsdetail = #{goodsdetail,jdbcType=VARCHAR},
      goodscount = #{goodscount,jdbcType=INTEGER},
      materials = #{materials,jdbcType=INTEGER},
      goodsimg = #{goodsimg,jdbcType=VARCHAR},
      goodstext = #{goodstext,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.sport.domain.Goods" >
    update goods
    set goodsname = #{goodsname,jdbcType=VARCHAR},
      goodsprice = #{goodsprice,jdbcType=VARCHAR},
      goodsdetail = #{goodsdetail,jdbcType=VARCHAR},
      goodscount = #{goodscount,jdbcType=INTEGER},
      materials = #{materials,jdbcType=INTEGER},
      goodsimg = #{goodsimg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>